<div class="signin-container">
    <form class="form" [formGroup]="signinForm">
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input matInput placeholder="username" type="text" formControlName="username">
          <mat-hint class="msg-error" *ngIf="formState?.username?.errors?.required && formState?.username?.touched">{{'Tên đăng nhập' | toRequired}}</mat-hint>
        </mat-form-field>
      
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="password" type="password" formControlName="password">
          <mat-hint class="msg-error" *ngIf="formState?.password?.errors?.required && formState?.password?.touched">{{'Mật khẩu' | toRequired}} </mat-hint>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="handleSignin()">Sign in</button>
      </form> 

      <p class="form-desc">Don't have an account?<a routerLink="/sign-up"> Sign up</a></p>
</div>