<div class="mat-dialog-confirm__container">
    <div class="mat-dialog-confirm__header">
        <h1 mat-dialog-title class="{{data.title | lowercase}}">{{data.title}}</h1>
        <div mat-dialog-content>
            <div class="icon-wrapper {{data.title | lowercase}}">
                <mat-icon class="icon">{{data.title | lowercase}}</mat-icon>
            </div>
          <p>{{data.description}}</p>
        </div>
    </div>
    <div mat-dialog-actions class="confirm-action">
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Delete</button>
      <button mat-button (click)="onNoClick()">Cancel</button>
    </div>
</div>