<header>
    <div class="container">
        <a routerLink="/" class="logo">Food Mine!</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/">Long</a>
                    <div class="menu">
                        <a href="">Profile</a>
                        <a href="">Ordersa</a>
                        <a href="">logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>