@import "../../../styles/colors";
@import "../../../styles/mixins";

.fm-management-container {
    width: 70%;
    margin: 40px 0 0 116px;
    padding: 0 24px;
    overflow-y: auto;
    @include hide-scrollbar();

    .fm-management-header {
        .fm-management-header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .fm-management-header-welcome {
                .text-light {
                    color: get-color("color-fm-gray");
                    @include font-style(24px, 500);
                }

                .text-bold {
                    color: get-color("color-fm-black");
                    @include font-style(24px, 700);
                }
            }

            .fm-management-header-search {
                background-color: get-color("color-fm-gray-41");
                padding: 10px 18px;
                border-radius: 15px;
                display: flex;
                gap: 28px;

                input {
                    outline: none;
                    border: none;
                    background-color: transparent;
                }
            }
        }
    }

    .fm-management-body {
        .fm-management-banner-container {
            margin-top: 24px;
        }

        .fm-management-menu-container {
            margin-top: 24px;
        }
    }
}