<div class="fm-management-container">
    
  <!-- <router-outlet></router-outlet> -->

  <!-- <div class="fm-management-wrappper">
      <section class="fm-management-header">
        <div class="fm-management-box">
            <div class="fm-management-box__item"></div>
            <div class="fm-management-box__item"></div>
        </div>
        <div class="fm-management-box">
            <div class="fm-management-box__item">
                <mat-icon>search</mat-icon>
            </div>
            <div class="fm-management-box__item fm-management-box__item--active">
                Add item
            </div>
        </div>
      </section>
    
      <section class="fm-management-body"></section>
 
  </div> -->
</div>