<section class="fm-user-cart">
    <div class="fm-user-cart__header">
        <div class="fm-user-cart__header-info">
            <div class="avatar-img">
                <img src="" alt="">
            </div>
            <h4 class="fm-user-cart__header-info-name">Yonkou Long</h4>
        </div>
        <div class="fm-user-cart__header-notify">
            <mat-icon>notifications_none</mat-icon>
        </div>
    </div>
    <div class="fm-user-cart__card">
        <div class="card-backward">
            <div class="card-frontward">
                <div class="card-frontward__header">
                    <h4 class="card-frontward__header-name-card">Universal Card</h4>
                    <div class="card-frontward__header-logo">
                        <div class="logo-circle-bold"></div>
                        <div class="logo-circle-light"></div>
                    </div>
                </div>
                <div class="card-frontward__body">
                    <span class="card-frontward__body-number">5214 4587 9658 1452</span>
                </div>
                <div class="card-frontward__footer">
                    <h4 class="card-frontward__footer-name-user">John Smith</h4>
                    <span>12/24</span>
                </div>
            </div>
        </div>
    </div>

    <fm-list-order></fm-list-order>
</section>