<div class="fm-menu">
    <h2 class="fm-menu__title">Our Menu</h2>
    <div class="fm-menu__box">
        <div class="fm-menu__wrapper">
            <div class="fm-menu__list">
                <div class="fm-menu__item">
                    <div class="fm-menu__item-icon">
                        <img src="../../../../../assets/icons/fooods/pizza-icon.png" alt="image">
                    </div>
                    <span class="fm-menu__item-label">Pizza</span>
                </div>
                <div class="fm-menu__item">
                    <div class="fm-menu__item-icon">
                        <img src="../../../../../assets/icons/fooods/burger.png" alt="image">
                    </div>
                    <span class="fm-menu__item-label">Burger</span>
                </div>
                <div class="fm-menu__item">
                    <div class="fm-menu__item-icon">
                        <img src="../../../../../assets/icons/fooods/french-fried.png" alt="image">
                    </div>
                    <span class="fm-menu__item-label">Fries</span>
                </div>
                <div class="fm-menu__item">
                    <div class="fm-menu__item-icon">
                        <img src="../../../../../assets/icons/fooods/chicken.png" alt="image">
                    </div>
                    <span class="fm-menu__item-label">Pack</span>
                </div>
                
            </div>
        </div>
        
        <span class="fm-menu__see-all">See All</span>
    </div>
</div>