<div class="fm-menu">
    <h2 class="fm-menu__title">Our Menu</h2>
    <div class="fm-menu__box">
        <div class="fm-menu__wrapper">
            <div class="fm-menu__list">
                <div class="fm-menu__item" *ngFor="let foodCat of foodCategories" (click)="handleClickFoodMenuItem(foodCat.name)">
                    <div class="fm-menu__item-icon">
                        <img src="{{foodCat.imageFood}}" alt="image">
                    </div>
                    <span class="fm-menu__item-label">{{foodCat.name}}</span>
                </div>    
            </div>
        </div>
        
        <span class="fm-menu__see-all">See All</span>
    </div>
</div>