.todo-container {
    display: flex;
    padding: 16px 24px;
    gap: 24px;
    width: fit-content;
    
    .todo-wrapper {
      
      .todo-head {
        display: flex;
        align-items: center;
        gap: 16px;

        &-text {
          margin: 0;
        }
      }
    }
}
  
  