<div class="todo-container">
   
    <div class="todo-wrapper">
        <div class="todo-head">
            <h2 class="todo-head-text">Todo list</h2>
            <div class="button-container">
                <button mat-mini-fab color="primary" aria-label="icon button with a add icon" (click)="openDialog()">
                  <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <div class="todo-body">
            <app-task-item [taskList]="tasks"
                (handleDeleteTask)="handleDeleteTask($event)"
                (handleEditTask)="handleEditTask($event)"
                (handleUpdateStatusTask)="handleUpdateStatusTask($event)"
                ></app-task-item>
        </div>
    </div>

    <div class="todo-rightbar">
        <div>
            <app-category [categoryIdActive]="currentCategoryId"
                (categoryChange)="handleFilterTaskByCategory($event)"
                [isOpenCreateCategoryState]="isOpenCreateCategoryPopup"
                (isOpenCreateCategoryPopupChange)="isOpenCreateCategoryPopup"
            ></app-category>
        </div>
    </div>
</div>



<!-- <app-dynamic-form [isOpenCreateCategoryPopup]="isOpenCreateCategoryPopup" (createCategoryPopupChange)="handleClosePopup($event)"></app-dynamic-form> -->